# Python
__pycache__/
*.py[cod]
.venv/
.venv-*/

# Streamlit
.streamlit/*.toml
!/.streamlit/config.toml
!.streamlit/secrets.toml.example

# Project outputs
output/*
!output/.gitkeep

# macOS
.DS_Store

# Security
*.pem
*.key

# Streamlit machine-specific files
.streamlit/machine_id_v4
